.App {
  text-align: center;
}

.App-display {
  background-color: #3B5998;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 2vmin);
  color: white;
}



